@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .activemenu {
    @apply bg-yellow-400;
  }
}

.mySwiper .swiper-button-prev {
  color: #727070;
  display: absolute;
  top: 28rem;
  left: 32rem;
  
}


.mySwiper .swiper-button-next {
  color: #727070; 
  display: absolute;
  top: 28rem;
  right: 32rem;
}

.expanded {
  max-height: 500px; /* Defina uma altura máxima maior do que a altura real da seção */
  opacity: 1;
 /* Ajuste o padding conforme necessário */
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.collapsed {
  max-height: 0;
  opacity: 0;

  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out, padding 0.5s ease-in-out;
}
