@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .activemenu {
    @apply bg-sub border-b-8 border-subdark ;

  }
}

.mySwiper .swiper-button-prev {
  color: #727070;
  display: absolute;
  top: 28rem;
  left: 32rem;
  
}


.mySwiper .swiper-button-next {
  color: #727070; 
  display: absolute;
  top: 28rem;
  right: 32rem;
}

.expanded {
  max-height: 500px; /* Defina uma altura máxima maior do que a altura real da seção */
  opacity: 1;
 /* Ajuste o padding conforme necessário */
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.collapsed {
  max-height: 0;
  opacity: 0;

  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out, padding 0.5s ease-in-out;
}


  .my-custom-scrollbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px; /* Ajuste a largura conforme necessário */
    height: 100%;
  }

  .swiper-scrollbar-vertical {
    background-color: rgba(0, 0, 0, 0.3); /* Cor da scrollbar */
    border-radius: 5px; /* Borda arredondada */
  }
