@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .activemenu {
    @apply bg-yellow-400;
  }
}

.mySwiper .swiper-button-prev {
  color: #727070;
  display: absolute;
  top: 28rem;
  left: 32rem;
  
}


.mySwiper .swiper-button-next {
  color: #727070; 
  display: absolute;
  top: 28rem;
  right: 32rem;
}

